<ul class="list-reset mx-auto max-w-md px-3">
    <% snippets = SniplineCli::Services::LoadSnippets.run %>
    <% snippets.each do |snippet| %>
        <li class="snippet-list-item bg-white flex relative">
            <%= snippet.name %>
        </li>
    <% end %>
</ul>